.buttons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.buttons__btn {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-21);
  color: var(--color-01);
  transition: ease-in-out 0.5s opacity;
}

.buttons__btn:hover {
  opacity: 0.8;
}
