.header {
  background-color: var(--color-14);
  margin-bottom: 4rem;
  border-bottom: 5px solid var(--color-21);
}

.header__link {
  text-decoration: none;
}

.header__img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
